$colorMap: (
	main: #f46f17,
	dark: #121212,
	gray: #363636,
	light: #888888,
	box: #f7f7f7,
	red: #FB6061,
	green: #65CC3D,
	blue: #2F80ED,
	background: #fff,
	white: #fff,
);

@function color($key) {
	@return map-get($colorMap, $key);
}